name: build

on:
  workflow_call:

permissions:
  contents: write

jobs:
  build_wheels:
    name: python ${{ matrix.python }} on ${{ matrix.platform[1] }}
    runs-on: ${{ matrix.platform[0] }}
    strategy:
      matrix:
        python: 
          - "cp39"
          - "cp310"
          - "cp311" 
          - "cp312" 
          - "cp313"
          - "cp314"
        platform:
          - [ubuntu-latest, manylinux_x86_64]
          - [ubuntu-latest, musllinux_x86_64]
          - [ubuntu-24.04-arm, manylinux_aarch64]
          - [ubuntu-24.04-arm, musllinux_aarch64]
          - [macos-15-intel, macosx_x86_64]
          - [macos-latest, macosx_arm64]
          - [windows-latest, win_amd64]
          - [windows-latest, win32]
        

    steps:
      - uses: actions/checkout@v6

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.1
        env:
          CIBW_BUILD: ${{ matrix.python }}-${{ matrix.platform[1] }}-*

      - uses: actions/upload-artifact@v6
        with:
          name: rockblock-9704-${{ matrix.python }}-${{ matrix.platform[1] }}
          path: wheelhouse/*
          retention-days: 3
          overwrite: true
