name: build

on:
  workflow_call:

permissions:
  contents: write

jobs:
  build_wheels:
    name: build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-latest, macos-latest, macos-13, ubuntu-latest, ubuntu-24.04-arm ]
        python: [3.9, 3.10, 3.11, 3.12, 3.13, 3.14]

    steps:
      - uses: actions/checkout@v6
      
      - uses: actions/setup-python@v6
        with:
          python-version: '${{ matrix.python }}'
      - run: python -m pip install -r requirements.txt
      - run: python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_PROJECT_REQUIRES_PYTHON: '${{ matrix.python }}'

      - uses: actions/upload-artifact@v6
        with:
          name: rockblock-9704-python-${{ matrix.os }}
          path: wheelhouse/*
          retention-days: 3
          overwrite: true
